<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
          
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<meta-data
            android:name="android.support.VERSION"
            android:value="25.4.0"
            tools:replace="android:value"/>-->
        <activity
            android:name="com.apsolete.machinery.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.apsolete.machinery.references.ReferencesActivity"
            android:label="@string/title_references"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.apsolete.machinery.MainActivity"
            android:exported="false">
        </activity>
        <activity
            android:name="com.apsolete.machinery.calculation.CalculationActivity"
            android:label="@string/title_calculation"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.apsolete.machinery.MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>
